In [22]:
from selenium import webdriver
browser = webdriver.Chrome()

In [23]:
url="http://rate.am/en/armenian-dram-exchange-rates/banks/non-cash"

In [24]:
browser.get(url)

In [25]:
import pandas as pd

In [28]:
rates=browser.find_element_by_xpath('//*[@id="aspnetForm"]/div[3]/div[2]/div[1]/div[4]/div[3]/table/tbody/tr/td[1]/a')

In [29]:
rates.click()

In [33]:
rates_for_20july=browser.find_element_by_xpath('//*[@id="calBorder"]/span/table/tbody/tr[3]/td/table/tbody/tr[5]/td[4]')

In [34]:
rates_for_20july.click()

In [36]:
rates1=browser.find_element_by_xpath('//*[@id="ctl00_Content_RB_dtpick1_btnOk"]')

In [37]:
rates1.click()

In [40]:
rates_table=rates = pd.read_html(browser.find_element_by_class_name("rb").get_attribute('outerHTML'))

In [41]:
rates_table[0]

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,NaN,Bank,Branches,Date,1 USD \t1 EUR \t1 RUR \t1 GBP \t1 GEL \t1 CHF ...,1 USD \t1 EUR \t1 RUR \t1 GBP \t1 GEL \t1 CHF ...,1 USD \t1 EUR \t1 RUR \t1 GBP \t1 GEL \t1 CHF ...,1 USD \t1 EUR \t1 RUR \t1 GBP \t1 GEL \t1 CHF ...,NaN,NaN,NaN,NaN,NaN
1,Buy,Sell,Buy,Sell,Buy,Sell,Buy,Sell,NaN,NaN,NaN,NaN,NaN
2,1.,Էյչ-Էս-Բի-Սի Բանկ,NaN,9,"20 Jul, 20:01",476.50,480.50,550,558.0,7.99,8.23,616.5,625.5
3,2.,Յունիբանկ,NaN,47,"20 Jul, 20:00",476.50,480,546,556.0,8.00,8.25,612.0,632.0
4,3.,Կոնվերս բանկ,NaN,35,"20 Jul, 20:00",476.50,480,547,555.0,8.02,8.21,619.0,627.0
5,4.,Անելիք Բանկ,NaN,14,"20 Jul, 20:00",477,480.50,546,556.0,8.04,8.22,NaN,NaN
6,5.,ՀԱՅԲԻԶՆԵՍԲԱՆԿ ՓԲԸ,NaN,53,"20 Jul, 20:00",477,480,547.10,554.1,8.02,8.24,617.1,629.1
7,6.,ԱԿԲԱ-ԿՐԵԴԻՏ ԱԳՐԻԿՈԼ ..,NaN,59,"20 Jul, 20:00",477,480.50,546.50,554.0,8.05,8.18,612.0,627.0
8,7.,Արդշինբանկ,NaN,53,"20 Jul, 20:00",477.50,480.50,548,558.0,7.97,8.22,618.0,633.0
9,8.,ՎՏԲ-Հայաստան Բանկ,NaN,68,"20 Jul, 20:00",477.25,480,547,553.5,8.06,8.18,619.0,630.0
10,9.,Ինեկոբանկ,NaN,23,"20 Jul, 20:00",477.25,480.25,547,559.0,7.95,8.20,613.0,626.0
11,10.,Մելլաթ բանկ,NaN,1,"20 Jul, 20:00",476,480,547,555.0,NaN,NaN,NaN,NaN
12,11.,Բիբլոս Բանկ Արմենիա,NaN,5,"20 Jul, 20:00",477,480.50,547,555.0,7.99,8.24,618.0,629.0
13,12.,Արցախբանկ,NaN,24,"20 Jul, 20:00",477,480,547,555.0,7.99,8.20,614.0,629.0
14,13.,Ամերիաբանկ,NaN,11,"20 Jul, 20:00",476.50,480.50,551.50,559.5,7.97,8.22,616.5,626.5
15,14.,Արմսվիսբանկ,NaN,1,"20 Jul, 20:00",477,480,548,554.0,8.04,8.22,617.0,624.0
16,15.,ԱՐԱՐԱՏԲԱՆԿ,NaN,48,"20 Jul, 20:00",477.50,480.50,543,561.0,8.04,8.25,610.0,633.0
17,16.,ՀԱՅԷԿՈՆՈՄԲԱՆԿ,NaN,50,"20 Jul, 20:00",477,480.50,547,555.0,8.06,8.23,611.0,630.0
18,17.,Պրոմեթեյ Բանկ,NaN,12,"20 Jul, 20:00",477,480,548,556.0,8.06,8.16,614.0,625.0
19,Choose the nearest branch for you and save you...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
our_table=rates[0]

In [43]:
rate_table1 = pd.DataFrame(our_table)

In [44]:
rate_table1.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,NaN,Bank,Branches,Date,1 USD \t1 EUR \t1 RUR \t1 GBP \t1 GEL \t1 CHF ...,1 USD \t1 EUR \t1 RUR \t1 GBP \t1 GEL \t1 CHF ...,1 USD \t1 EUR \t1 RUR \t1 GBP \t1 GEL \t1 CHF ...,1 USD \t1 EUR \t1 RUR \t1 GBP \t1 GEL \t1 CHF ...,NaN,NaN,NaN,NaN,NaN
1,Buy,Sell,Buy,Sell,Buy,Sell,Buy,Sell,NaN,NaN,NaN,NaN,NaN
2,1.,Էյչ-Էս-Բի-Սի Բանկ,NaN,9,"20 Jul, 20:01",476.50,480.50,550,558.0,7.99,8.23,616.5,625.5
3,2.,Յունիբանկ,NaN,47,"20 Jul, 20:00",476.50,480,546,556.0,8.00,8.25,612.0,632.0
4,3.,Կոնվերս բանկ,NaN,35,"20 Jul, 20:00",476.50,480,547,555.0,8.02,8.21,619.0,627.0

In [45]:
rate_table1 = rate_table1.drop(2,axis=1)
rate_table1 = rate_table1.drop(3,axis=1)
rate_table1= rate_table1.drop(0,axis=1)
rate_table1 = rate_table1.drop(1,axis=0)
rate_table1 = rate_table1.drop(0,axis=0)
rate_table1.columns = ["Bank", "Date", "USD/buy", "USD/sell", "EUR/buy", "EUR/sell", "RUB/buy", "RUB/sell", "GBF/buy", "GBF/sell"]

In [46]:
rate_table1=rate_table1.drop(19, axis=0)

In [47]:
rate_table1

,Bank,Date,USD/buy,USD/sell,EUR/buy,EUR/sell,RUB/buy,RUB/sell,GBF/buy,GBF/sell
2,Էյչ-Էս-Բի-Սի Բանկ,"20 Jul, 20:01",476.50,480.50,550,558.0,7.99,8.23,616.5,625.5
3,Յունիբանկ,"20 Jul, 20:00",476.50,480,546,556.0,8.00,8.25,612.0,632.0
4,Կոնվերս բանկ,"20 Jul, 20:00",476.50,480,547,555.0,8.02,8.21,619.0,627.0
5,Անելիք Բանկ,"20 Jul, 20:00",477,480.50,546,556.0,8.04,8.22,NaN,NaN
6,ՀԱՅԲԻԶՆԵՍԲԱՆԿ ՓԲԸ,"20 Jul, 20:00",477,480,547.10,554.1,8.02,8.24,617.1,629.1
7,ԱԿԲԱ-ԿՐԵԴԻՏ ԱԳՐԻԿՈԼ ..,"20 Jul, 20:00",477,480.50,546.50,554.0,8.05,8.18,612.0,627.0
8,Արդշինբանկ,"20 Jul, 20:00",477.50,480.50,548,558.0,7.97,8.22,618.0,633.0
9,ՎՏԲ-Հայաստան Բանկ,"20 Jul, 20:00",477.25,480,547,553.5,8.06,8.18,619.0,630.0
10,Ինեկոբանկ,"20 Jul, 20:00",477.25,480.25,547,559.0,7.95,8.20,613.0,626.0
11,Մելլաթ բանկ,"20 Jul, 20:00",476,480,547,555.0,NaN,NaN,NaN,NaN
12,Բիբլոս Բանկ Արմենիա,"20 Jul, 20:00",477,480.50,547,555.0,7.99,8.24,618.0,629.0
13,Արցախբանկ,"20 Jul, 20:00",477,480,547,555.0,7.99,8.20,614.0,629.0
14,Ամերիաբանկ,"20 Jul, 20:00",476.50,480.50,551.50,559.5,7.97,8.22,616.5,626.5
15,Արմսվիսբանկ,"20 Jul, 20:00",477,480,548,554.0,8.04,8.22,617.0,624.0
16,ԱՐԱՐԱՏԲԱՆԿ,"20 Jul, 20:00",477.50,480.50,543,561.0,8.04,8.25,610.0,633.0
17,ՀԱՅԷԿՈՆՈՄԲԱՆԿ,"20 Jul, 20:00",477,480.50,547,555.0,8.06,8.23,611.0,630.0
18,Պրոմեթեյ Բանկ,"20 Jul, 20:00",477,480,548,556.0,8.06,8.16,614.0,625.0

In [48]:
import csv

In [50]:
from unicodecsv import *
with open('table_rates.csv', 'w') as f:
            rate_table1.to_csv(f, header=True, index=False, encoding='utf-8')

In [51]:
data_csv = pd.read_csv("table_rates.csv")
data_csv.head()

,Bank,Date,USD/buy,USD/sell,EUR/buy,EUR/sell,RUB/buy,RUB/sell,GBF/buy,GBF/sell
0,Էյչ-Էս-Բի-Սի Բանկ,"20 Jul, 20:01",476.5,480.5,550.0,558.0,7.99,8.23,616.5,625.5
1,Յունիբանկ,"20 Jul, 20:00",476.5,480.0,546.0,556.0,8.00,8.25,612.0,632.0
2,Կոնվերս բանկ,"20 Jul, 20:00",476.5,480.0,547.0,555.0,8.02,8.21,619.0,627.0
3,Անելիք Բանկ,"20 Jul, 20:00",477.0,480.5,546.0,556.0,8.04,8.22,NaN,NaN
4,ՀԱՅԲԻԶՆԵՍԲԱՆԿ ՓԲԸ,"20 Jul, 20:00",477.0,480.0,547.1,554.1,8.02,8.24,617.1,629.1

In [52]:
browser.close()